/* .expense-details {
    border-color: red !important;
    /* background: red !important; */


.expense-details__info {
    /* display: inline-block !important; */
    text-align: center;
    margin-top: 2% !important;
    /* border-color: red !important; */
    /* color: linear-gradient(#20e3a8, #202ae3) !important;
    border-color: linear-gradient(#20e3a8, #202ae3) !important; */
    transition: 1s !important;
}

/* .expense-details__info:hover {
    background: linear-gradient(#20e3a8, #202ae3) !important;
} */

