.card {
    margin-top: 5% !important;
    margin-bottom: 3% !important;
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card__sub-form {
    margin: 3% !important;
}

.form-group {
    margin-top: 2% !important;
}

.card__text {
    text-align: center !important;
}