
.container__text {
  text-align: center !important;
}

/** Expense Details **/
.container__expense-details {
  border-color: red !important;
  background: red !important;
  margin-bottom: 2% !important;
}