
.container__header-box {
  text-align: center !important;
  /* background: linear-gradient(red, yellow) !important; */
}

/* .container__header {
 padding: 10% !important;
} */

/** Expense Details **/
.container__expense-details {
  margin-bottom: 2% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}